.Explore{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Explore h1{
    color: #777;
    font-weight: 500;
}
.Explore p{
    max-width: 60%;

}
.explore-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll;
}
.explore-list::-webkit-scrollbar{
    display: none;
}
.explore-list-item img{
    width:7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3ms;
}
.explore-list-item p{
    cursor: pointer;
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
}
.explore hr{
    max-width: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explore-list-item .active{
    border: 4px solid tomato;
}
@media (max-width:1050px) {
    .Explore-text{
        max-width:100% ;
    }
}




